html
  head
    title JS Fighter
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    form(action="/search/", method="post" id="Header")
      | JSF Browser
    a(href='/list/players/') 
    .spartBox
        each fighter in list
            .spartRow
                .spartCell
                    a(href='../../fighter/' + fighter.fighter_UID)= fighter.fighter_name
    a(href='/list/fighters/') View More Fighters
    br
    a(href='/add') New Fighter
    br
    //- a=gitURL.html_url 
    a(href=gitURL.html_url) link to Github
    
    //- a(href=gitURL)Github
