html
  head
    title Student Stats
    link(rel='stylesheet', href='/stylesheets/layout.css')
  body
    .spartBox
      each classitem in list
        .spartRow
          .spartCell
            a(href='../../class/' + classitem.class_code)= classitem.class_name
    a(href='../') Home
